<footer>
    <div id="contact" class="contact-us">
      <h3>Contact Us</h3>
      <a href="#" class="contact-icon" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>|
      <a href="#" class="contact-icon" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>|
      <a href="#" class="contact-icon" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>|
      <a href="#" class="contact-icon" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
    </div>
  </footer>
</body>
</html>