<%- include("partials/header"); -%>

<div class="row row-cols-1 row-cols-md-3 g-4 company">
    <div class="col company-col">
      <div class="card h-100 company-card">
        <img src="https://1.bp.blogspot.com/-IHIprxC2Za0/UBg14NttLLI/AAAAAAAAA28/nyBH-GeEX7Y/s1600/white-apple-logo-wallpaper.jpg" class="card-img-top img-card" alt="...">
        <div class="card-body company-main">
          <h5 class="card-title">Apple</h5>
          <p class="card-text"> Apple is the largest information technology company by revenue (totaling $274.5 billion in 2020) and, since January 2021, the world's most valuable company. </p>
        </div>
        <div class="card-footer company-foot">
          <button type="button" class="btn btn-dark"><a href="/company/Apple">Predict</a></button>
        </div>
      </div>
    </div>
    <div class="col company-col">
      <div class="card h-100 company-card">
        <img src="https://allcarbrandslist.com/wp-content/uploads/2020/12/Tesla-Emblem.png" class="card-img-top img-card " alt="...">
        <div class="card-body company-main">
          <h5 class="card-title">Tesla</h5>
          <p class="card-text">Tesla is one of the world's most valuable companies and remains the most valuable automaker in the world with a market cap of nearly $1 trillion.</p>
        </div>
        <div class="card-footer company-foot">
            <button type="button" class="btn btn-dark"><a href="/company/Tesla">Predict</a></button>
          </div>
      </div>
    </div>
    <div class="col company-col">
      <div class="card h-100 company-card">
        <img src="https://th.bing.com/th/id/OIP.ugL7g_9Qt1FECHO1echPdQHaEK?pid=ImgDet&rs=1" class="card-img-top img-card" alt="...">
        <div class="card-body company-main">
          <h5 class="card-title">Microsoft</h5>
          <p class="card-text">Microsoft ranked No. 21 in the 2020 Fortune 500 rankings of the largest United States corporations by total revenue; it was the world's largest software maker by revenue as of 2016.</p>
        </div>
        <div class="card-footer company-foot">
            <button type="button" class="btn btn-dark"><a href="/company/Microsoft">Predict</a></button>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer"); -%>