<%- include("partials/header"); -%>
      <div class="nav-img"> 
            <h1 class= "cover-head"> Stock  Price <br> Prediction</h1>
            <h3>Expertise. Commitment. Value.</h3>
            <button type="button" class="cover-btn"><a href="company">Let's Get Started</a></button>
      </div>
      <div class="carousel-article">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner carousel-main">
            <div class="carousel-item carousel-img active" data-bs-interval="10000">
              <img src="https://i.pinimg.com/564x/24/77/e1/2477e1ec92ffefb427e29cde80994f50.jpg" class="d-block w-100" alt="...">
              <h1> Beginners Guide To Stock-Market</h1>
              <button type="button" class="btn btn-light stock-btn">
                <a href="https://zerodha.com/varsity/module/introduction-to-stock-markets/" target="_blank">More</a>
              </button>
            </div>
            <div class="carousel-item carousel-img" data-bs-interval="2000">
              <img src="https://i.pinimg.com/564x/4c/84/9a/4c849ad759527c7d2b12c4f59dfde1ba.jpg" class="d-block w-100" alt="...">
              <h1>Basic Stock Market Fundamentals</h1>
              <button type="button" class="btn btn-light stock-btn">
                <a href="https://groww.in/p/stock-market-basics/" target="_blank">More</a>
              </button>
            </div>
            <div class="carousel-item carousel-img">
              <img src="https://i.pinimg.com/564x/0b/9c/2b/0b9c2bbb19297fcb26c9d27fc65b713b.jpg" class="d-block w-100" alt="...">
              <h1>Certified Courses</h1>
              <button type="button" class="btn btn-light stock-btn">
                <a href="https://www.nseindia.com/learn/online-courses-certifications-recorded-stock-market-for-beginners" target="_blank">More</a>
              </button>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>  
      <div class="video-section d-flex">
          <iframe class="video-content" width="560" height="330" src="https://www.youtube.com/embed/ZCFkWDdmXG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe class="video-content" width="290" height="225" src="https://www.youtube.com/embed/p7HKvqRI_Bo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <%- include("partials/footer"); -%>